In [1]:
import pandas as pd
data = pd.read_csv("C:/Users/ASUS/Downloads/ML Proyecto 4/project-4-sentiment-classification/train.csv", encoding="utf-8")
data.head(5)

                                             message label
0  I saw this movie in NEW York city. I was waiti...   neg
1  This is a German film from 1974 that is someth...   neg
2  I attempted watching this movie twice and even...   neg
3  On his birthday a small boys tells his mother ...   neg
4  The person who wrote the review "enough with t...   pos

In [2]:
data.shape

(25000, 2)

In [3]:
data['label'].value_counts()

label
neg    12500
pos    12500
Name: count, dtype: int64

Punctuation Removal

In [4]:
import string
string.punctuation

def remove_punctuation(text):
    pttfree ="".join([i for i in text if i not in string.punctuation])
    return pttfree

In [5]:
data['clean_review'] = data['message'].apply(lambda x:remove_punctuation(x))
data.head()

,message,label,clean_review
0,I saw this movie in NEW York city. I was waiti...,neg,I saw this movie in NEW York city I was waitin...
1,This is a German film from 1974 that is someth...,neg,This is a German film from 1974 that is someth...
2,I attempted watching this movie twice and even...,neg,I attempted watching this movie twice and even...
3,On his birthday a small boys tells his mother ...,neg,On his birthday a small boys tells his mother ...
4,"The person who wrote the review ""enough with t...",pos,The person who wrote the review enough with th...

Lowering the text
dato: Converting the text into the same case, preferably lowercase, is one of Python’s most common text preprocessing steps. However, doing this step every time you work on an NLP problem is unnecessary, as lower casing can lead to a loss of information for some problems.

For example, when dealing with a person’s emotions in any project, words written in upper case can signify frustration or excitement.

In [6]:
data['msg_lower'] = data['clean_review'].apply(lambda x: x.lower())
data.head()

,message,label,clean_review,msg_lower
0,I saw this movie in NEW York city. I was waiti...,neg,I saw this movie in NEW York city I was waitin...,i saw this movie in new york city i was waitin...
1,This is a German film from 1974 that is someth...,neg,This is a German film from 1974 that is someth...,this is a german film from 1974 that is someth...
2,I attempted watching this movie twice and even...,neg,I attempted watching this movie twice and even...,i attempted watching this movie twice and even...
3,On his birthday a small boys tells his mother ...,neg,On his birthday a small boys tells his mother ...,on his birthday a small boys tells his mother ...
4,"The person who wrote the review ""enough with t...",pos,The person who wrote the review enough with th...,the person who wrote the review enough with th...

Tokenization

In [7]:
from nltk.tokenize import word_tokenize

def tokenization(text):
    tokens = word_tokenize(text)
    return tokens

In [8]:
data['msg_tokenied']= data['msg_lower'].apply(lambda x: tokenization(x))
data = data[['msg_tokenied', 'label']]

In [9]:
data.head()

                                        msg_tokenied label
0  [i, saw, this, movie, in, new, york, city, i, ...   neg
1  [this, is, a, german, film, from, 1974, that, ...   neg
2  [i, attempted, watching, this, movie, twice, a...   neg
3  [on, his, birthday, a, small, boys, tells, his...   neg
4  [the, person, who, wrote, the, review, enough,...   pos

StopWord Removal

dato: However, using the provided list of stopwords is unnecessary, as they should be chosen wisely based on the project. For example, ‘How’ can be a stopword for a model but can be important for some other problem where we are working on customers’ queries. We can create a customized list of stopwords for different problems.

In [10]:
import nltk
stopwords = nltk.corpus.stopwords.words('english')
stopwords[:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [11]:
def remove_stopwords(text):
    output=[i for i in text if i not in stopwords]
    return output

In [12]:
data['no_stopwords']= data['msg_tokenied'].apply(lambda x:remove_stopwords(x))
data.head()

,msg_tokenied,label,no_stopwords
0,"[i, saw, this, movie, in, new, york, city, i, ...",neg,"[saw, movie, new, york, city, waiting, bus, ne..."
1,"[this, is, a, german, film, from, 1974, that, ...",neg,"[german, film, 1974, something, women, come, c..."
2,"[i, attempted, watching, this, movie, twice, a...",neg,"[attempted, watching, movie, twice, even, fast..."
3,"[on, his, birthday, a, small, boys, tells, his...",neg,"[birthday, small, boys, tells, mother, son, wa..."
4,"[the, person, who, wrote, the, review, enough,...",pos,"[person, wrote, review, enough, sweating, spit..."

Lemmatization vs Stemming

Lemmatization conserva mejor las palabras para futuras interpretaciones
Stemming es permite mayor velocidad

In [33]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet
import nltk
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping taggers\averaged_perceptron_tagger.zip.

True

In [34]:
def get_wordnet_pos(word):
    tag = nltk.pos_tag([word])[0][1][0].upper()
    tag_dict = {"J": wordnet.ADJ,
                "N": wordnet.NOUN,
                "V": wordnet.VERB,
                "R": wordnet.ADV}

    return tag_dict.get(tag, wordnet.NOUN)

In [35]:
wordnet_lemmatizer = WordNetLemmatizer()

def lemmatizer(text):
    lemm_text = [wordnet_lemmatizer.lemmatize(word, get_wordnet_pos(word)) for word in text]
    return lemm_text

In [36]:
data['msg_lemmatized']=data['no_stopwords'].apply(lambda x:lemmatizer(x))
# data = data[['no_stopwords','msg_lemmatized', 'label']]

In [43]:
data = data[['msg_lemmatized', 'label']]

In [44]:
data.head()

                                      msg_lemmatized label
0  [saw, movie, new, york, city, wait, bus, next,...   neg
1  [german, film, 1974, something, woman, come, c...   neg
2  [attempt, watch, movie, twice, even, fast, for...   neg
3  [birthday, small, boy, tell, mother, son, want...   neg
4  [person, write, review, enough, sweat, spit, a...   pos

In [ ]:
data.to_csv('lemmatized_train.csv', index=False)

Fuentes: https://www.analyticsvidhya.com/blog/2021/06/text-preprocessing-in-nlp-with-python-codes/